body, html {
    text-align: center;
    font-family: monospace;
}
header{
    margin-bottom: 2%;
}
form {
    margin-bottom: 1%;
}
.image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.dog-image {
    height: 50%;
    width: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 3px solid gray;
    margin: 1% 0;
    box-shadow: 0 8px 6px -6px gray;
}

.submit {
    color: black;
    border-style: none;
    height: 2rem;
}
.submit:hover {
    color: white;
    background: gray;
    cursor: pointer;
}
.dog-breed, .dog-number {
    height: 1.5rem;
}